<div class="side-bar-header">
 <div class="header-name">
    <%= current_user.name %>
  </div>
  <div class="create-room">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
  </div>
</div>

    <div class="header-title">
       <div class="header-title1">
          メモ帳
        </div>
        <%#= render partial: 'message', collection: @memo, class: 'messages1'%>
    </div>

  <div class="right-header">
  </div>
  