.wrapper1 {
  display: flex;
}
.side-bar1 {
  width: 300px;
  height: 100vh;
}

.side-bar-header3 {
  height: 100px;
  padding: 0 20px;
  background-color: hsl(71, 91%, 70%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}

.logo3{
height: 50%;
width: 100%;
}

.header-name3 a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create-room3 a {
  font-size: 10px;
  padding: 14px;
  color: rgb(250, 171, 2);
  margin        : auto;                 /* サンプル用 中央寄せ */
  box-sizing    : border-box;           /* 罫線も含む長さ      */
  width         : 71px;                /* BOXの幅             */
  height        : 41px;                /* BOXの高さ           */
  background    : #ebedea;              /* BOXの背景色         */
  border        : 3px solid #fae953;    /* 枠線の指定          */
  border-radius : 19px;               /* 角丸の指定          */
  text-decoration: none;}


.room1 {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.chat1 {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.chat-header3 {
  height: 100px;
  padding: 0 40px;
  display: flex;
  background-color: hsl(71, 79%, 77%);
  justify-content: space-between;
  border-radius: 25px;
}

.header-title3 {
  font-size: 24px;
  background-color: hsl(71, 79%, 77%);
  height: calc(100vh - 100px);
  border-radius: 25px;
}

.header-title5 {
  font-size: 25px;
  text-align: center;
  padding-top: 25px;
  color: hsl(141, 64%, 9%);
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.messages0 {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.messaged {
  color: rgb(247, 244, 244);
  margin-top    : 20px;                 /* サンプル用 中央寄せ */
  box-sizing    : border-box;           /* 罫線も含む長さ      */
  width         : 415px;                /* BOXの幅             */
  height        : 65px;                /* BOXの高さ           */
  background    : #f8bc62;              /* BOXの背景色         */
  border        : 3px solid #f7eb4c;    /* 枠線の指定          */
  border-radius : 31px;               /* 角丸の指定          */
  overflow: scroll;
}

.upper-message{
  display: flex;
}

.message-user1 {
  color: #090a0a;
  font-size: 16px;
  padding-left: 100px;
}

.message-date1 {
  color: rgb(14, 12, 12);
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content1 {
  color: #121213;
  font-size: 14px;
  margin-bottom: 40px;
  text-align: center;
}

.form-2 {
  background-color: hsl(71, 91%, 70%);
  height: 90px;
  padding: 20px 40px;
  display: flex;
  border-radius: 20px;
}

.form-input1 {
  background-color: white;
  width: 100%;
  display: flex;
  width: 100%;
  border-radius: 10px;
}

.form-message1 {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border-radius: 10px;
}

.form-submit1 {
  background    : #b6f7a2;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  border-radius: 50px;
}

.form-image1 {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  border-radius: 20px;
}

.hidden1 {
  display: none;
}

.field_with_errors {
  display: contents;
}