<div class="side-bar-header3">
 <div class="header-name3">
    <%= current_user.name %>
  </div>
  <div class="create-room3">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn0'%>
  </div>
</div>

    <div class="header-title3">
       <div class="header-title5">
        </div>
        <%#= render partial: 'message', collection: @memo, class: 'messages1'%>
        <%=image_tag("4.png", class: :logo3)%>

    </div>

  <div class="right-header">
  </div>
 